main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#task-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#task-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
}

#task-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#task-form button:hover {
    background-color: #45a049;
}

#task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-list li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    font-size: 18px;
}

#task-list li span {
    flex-grow: 1;
    margin-right: 10px;
}

#task-list li button.complete {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#task-list li button.complete:hover {
    background-color: #45a049;
}

#task-list li button.edit {
    background-color: #ffcc00;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#task-list li button.edit:hover {
    background-color: #e6b800;
}

#task-list li button.delete {
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#task-list li button.delete:hover {
    background-color: #e63939;
}
